<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Claudia</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/fav-icon.png">
</head>

<body>
    <body class="innerbody">
        <aside class="sidebar">
            <div class="closemenu-btn"><img src="images/Close_round_fill.png" class="img-fluid"></div>
            <div class="text-center sildebarlogo">
                <img src="images/sidebarlogo.svg" class="img-fluid logo-full">
                <img src="images/sidebarlogo.svg" class="img-fluid logo-icon">
            </div>
            <div class="menubar-holder">
                <ul class="menubar">
                    <li class="">
                        <a href="dashboard.html"><img src="images/dashboard-icon.svg"> <span>Dashboard</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="manage-children.html"><img src="images/manage-children-icon.svg"> <span>Manage Children</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="manage-parents.html"><img src="images/manage parents-icon.svg"> <span>Manage Parents</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="manage-bussiness.html"><img src="images/manage-businesses-icon.svg"> <span>Manage Businesses</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="reported-content.html"><img src="images/reported-content-icon.svg"> <span>Reported Content</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="reported-comment.html"><img src="images/reported-comment-icon.svg"> <span>Reported Comment</span></a>
                    </li>
                    <li class="active mt-2">
                        <a href="flagged-content.html"><img src="images/flagged-content-icon.svg"> <span>Flagged Content</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="coin-transaction.html"><img src="images/coin-transactions.svg"> <span>Coin Transactions</span></a>
                    </li>
                <!-- <ul class="menubar">
                    <li class="">
                        <a href="#"><img src="images/logout-icon.svg">
                            <span>Logout</span></a>
                    </li>
                </ul> -->
            </div>
        </aside>
    <!--header part-->
    <div class="header">
        <a href="javascript:void(0)" class="slidetoggle"><img src="images/menu (2).svg"> </a>
        <div class="user-set-menu dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <img src="images/user-lg-pic.svg" class="me-2">
                <div style="line-height: 1;" class="pe-2">
                    <h6>Suzie Weeding</h6>
                </div>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    <!--header part-->
    <!--PAGE CONTENT-->
    <div class="container-fluid pt-3 bg children-detail">
        <div class="page-content-wrapper">
            <div class="page-title-row justify-content-between">
                <h4 class="mb-0 ms-3">View Details</h4>
                 <a href="flagged-content.html" class="btn btn-outline-dark  mb-2"><img src="" class="mb-1" >Back</a>
            </div>
            <div class="bg-white-container ms-2 mt-3">
                <div class="row">
                    <div class="col-md-5 flag-deatil-im">
                        <img src="images/flag-detail-img.png" alt="img" class="img-fluid">
                    </div>
                    <div class="col-md-7 flag-deatil">
                        <h3>Origami master</h3>
                        <p>Created By <b>Peter Smith</b></p>
                        <span class="badge rounded-pill text-bg-success mt-2">POST</span>
                        <div class="violation-container">
                            <div class="violation-row">
                              <div class="violation-item">
                                <span class="label">Violation Type</span>
                                <span class="value">Abusive</span>
                              </div>
                              <div class="violation-item">
                                <span class="label">Created On</span>
                                <span class="value">10/02/2025</span>
                              </div>
                              <div class="violation-item">
                                <span class="label">Status</span>
                                <span class="value">Active</span>
                              </div>
                            </div>
                          </div>
                          <label for="preFilledInput" class="form-label" style="font-weight: 600;">Description</label>
                          <p>Lorem Ipsum is simply dummy text of the printing and  typesetting industry.standard dummy text ever since the 1500s,<br>
                            type specimen book. It has survived not only five centuries, Lorem Ipsum is Lorem Ipsum is simply but also the leap type specimen book.</p>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        <!-- <div class="footer">
        </div> -->
    </div>
    <!--PAGE CONTENT-->
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>