<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ziloo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/fav-icon.png">
</head>

<body>
    <div class="row g-0 login-wrapper">
        <div class="col-lg-6 login-left">
            <div class="text-center loginLeftImg"></div>
        </div>
        <div class="col-lg-6  col-md-12 login-right">
            <div class="loginRightImg">
                <div class="login-container">
                    <div class="text-center mb-5"><img src="images/logo-login.svg"></div>
                    <div class="whiteBg">
                        <h4>Sign In</h4>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <div class="position-relative">
                                <input type="text" class="form-control form-control-lg" placeholder="Email">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Password</label>
                            <div class="position-relative">
                                <input type="password" class="form-control form-control-lg" placeholder="Password">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center justify-space-between">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Remember me
                                    </label>
                                </div>
                                
                                    <a href="" class="forgotPass ms-auto">Forgot Password?</a>
                               
                            </div>
                        </div>
                        <button class="btn btn-lg btn-primary w-100">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>