<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Claudia</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/fav-icon.png">
</head>

<body>

    <body class="innerbody">
        <aside class="sidebar">
            <div class="closemenu-btn"><img src="images/Close_round_fill.png" class="img-fluid"></div>
            <div class="text-center sildebarlogo">
                <img src="images/sidebarlogo.svg" class="img-fluid logo-full">
                <img src="images/sidebarlogo.svg" class="img-fluid logo-icon">
            </div>
            <div class="menubar-holder">
                <ul class="menubar">
                    <li class="">
                        <a href="dashboard.html"><img src="images/dashboard-icon.svg"> <span>Dashboard</span></a>
                    </li>
                    <li class="active mt-2">
                        <a href=""><img src="images/manage-children-icon.svg"> <span>Manage Children</span></a>
                    </li>
                    <li class="mt-2">
                        <a href=""><img src="images/manage parents-icon.svg"> <span>Manage Parents</span></a>
                    </li>
                    <li class="mt-2">
                        <a href=""><img src="images/manage-businesses-icon.svg"> <span>Manage Businesses</span></a>
                    </li>
                    <li class="mt-2">
                        <a href=""><img src="images/reported-content-icon.svg"> <span>Reported Content</span></a>
                    </li>
                    <li class="mt-2">
                        <a href=""><img src="images/reported-comment-icon.svg"> <span>Reported Comment</span></a>
                    </li>
                    <li class="mt-2">
                        <a href=""><img src="images/flagged-content-icon.svg"> <span>Flagged Content</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="coin-transaction.html"><img src="images/coin-transactions.svg"> <span>Coin
                                Transactions</span></a>
                    </li>

                </ul>
                <ul class="dropdown-menu">
                    <li class="d-flex px-2"><img src="images/lock.svg" alt="">
                        <a class="dropdown-item ps-2" href="#">Change-Password</a>
                    </li>
                    <li class="d-flex px-2"><img src="images/logout.svg" alt="">
                        <a class="dropdown-item ps-2" href="#">Logout</a>
                    </li>
                    
                </ul>
            </div>
        </aside>
        <!--header part-->
        <div class="header">
            <a href="javascript:void(0)" class="slidetoggle"><img src="images/menu (2).svg"> </a>
            <div class="user-set-menu dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <img src="images/user-lg-pic.svg" class="me-2">
                    <div style="line-height: 1;" class="pe-2">
                        <h6>Suzie Weeding</h6>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li class="d-flex px-2"><img src="images/lock.svg" alt="">
                        <a class="dropdown-item ps-2" href="#">Change-Password</a>
                    </li>
                    <li class="d-flex px-2"><img src="images/logout.svg" alt="">
                        <a class="dropdown-item ps-2" href="#">Logout</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!--header part-->
        <!--PAGE CONTENT-->
        <div class="container-fluid pt-3 bg children-detail">
            <div class="page-content-wrapper">
                <div class="page-title-row justify-content-between">
                    <h4 class="mb-0 ms-3">View User Details</h4>
                    <a href="manage-children.html" class="btn btn-outline-dark  mb-2"><img src="" class="mb-1">Back</a>
                </div>
                <div class="bg-white-container ms-2 mt-3">
                    <div class="row">
                        <div class="col-md-2 user-im">
                            <img src="images/view-user-detail.png" alt="img">
                        </div>
                        <div class="col-md-10 user-detail">
                            <div class="ms-3">
                                <h3>Amelia Smith, 14 Years</h3>
                                <img src="images/email-detail.svg" alt="img" class="me-2">jane.cooper@gmail.com
                            </div>
                            <div class="ms-3 mt-3">

                                <div class="mb-3 ">
                                    <p class="mb-1" style="font-weight: 600; font-size: 14px;">School</p>
                                    <div class="bg-light-green">
                                        <p class="mb-0">St Andrew's School</p>
                                    </div>
                              
                                </div>
                                <div class="mb-3 ">
                                    <p class="mb-1" style="font-weight: 600; font-size: 14px;">Level</p>
                                    <div class="bg-light-green">
                                        <p class="mb-0">8th Level</p>
                                    </div>
                              
                                </div>
                                <div class="mb-3 ">
                                    <p class="mb-1" style="font-weight: 600; font-size: 14px;">Interest</p>
                                    <div class="bg-light-green">
                                        <p class="mb-0">Song, Cricket, Cars</p>
                                    </div>
                              
                                </div>
                                <div class="mb-3 ">
                                    <p class="mb-1" style="font-weight: 600; font-size: 14px;">Hobbies</p>
                                    <div class="bg-light-green">
                                        <p class="mb-0">Painting, Baking</p>
                                    </div>
                              
                                </div>
                                <div class="mb-3 ">
                                    <p class="mb-1" style="font-weight: 600; font-size: 14px;">Enrolled Courses</p>
                                    <div class="bg-light-green">
                                        <p class="mb-0">Origami Master, Fold Mastery, Crease & Craft, The Art of Folding</p>
                                    </div>
                              
                                </div>
                            
                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="footer">
        </div> -->
        </div>
        <!--PAGE CONTENT-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/custom.js"></script>
    </body>

</html>