<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ziloo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/slick-theme.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/fav-icon.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css" />
</head>

<body>

    <body class="innerbody">
        <aside class="sidebar">
            <div class="closemenu-btn"><img src="images/Close_round_fill.png" class="img-fluid"></div>
            <div class="text-center sildebarlogo">
                <img src="images/sidebarlogo.svg" class="img-fluid logo-full">
                <img src="images/sidebarlogo.svg" class="img-fluid logo-icon">
            </div>
            <div class="menubar-holder">
                <ul class="menubar">
                    <li class="">
                        <a href="dashboard.html"><img src="images/dashboard-icon.svg"> <span>Dashboard</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="manage-children.html"><img src="images/manage-children-icon.svg"> <span>Manage
                                Children</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="manage-parents.html"><img src="images/manage parents-icon.svg"> <span>Manage
                                Parents</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="manage-bussiness.html"><img src="images/manage-businesses-icon.svg"> <span>Manage
                                Businesses</span></a>
                    </li>
                    <li class="active mt-2">
                        <a href="reported-content.html"><img src="images/reported-content-icon.svg"> <span>Reported
                                Content</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="reported-comment.html"><img src="images/reported-comment-icon.svg"> <span>Reported
                                Comment</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="flagged-content.html"><img src="images/flagged-content-icon.svg"> <span>Flagged
                                Content</span></a>
                    </li>
                    <li class="mt-2">
                        <a href="coin-transaction.html"><img src="images/coin-transactions.svg"> <span>Coin
                                Transactions</span></a>
                    </li>
                    <!-- <ul class="menubar">
                    <li class="">
                        <a href="#"><img src="images/logout-icon.svg">
                            <span>Logout</span></a>
                    </li> -->
                </ul>
                </ul>
            </div>
        </aside>
        <!--header part-->
        <div class="header">
            <a href="javascript:void(0)" class="slidetoggle"><img src="images/menu (2).svg"> </a>
            <div class="user-set-menu dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <img src="images/user-lg-pic.svg" class="me-2">
                    <div style="line-height: 1;" class="pe-2">
                        <h6>Suzie Weeding</h6>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li class="d-flex px-2"><img src="images/lock.svg" alt="">
                        <a class="dropdown-item ps-2" href="#">Change-Password</a>
                    </li>
                    <li class="d-flex px-2"><img src="images/logout.svg" alt="">
                        <a class="dropdown-item ps-2" href="#">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
        <!--header part-->
        <!--PAGE CONTENT-->
        <div class="container-fluid pt-3 bg children-detail">
            <div class="page-content-wrapper">
                <div class="page-title-row justify-content-between">
                    <h4 class="mb-0 ms-3">View Course</h4>
                    <a href="reported-content.html" class="btn btn-outline-dark  mb-2"><img src="" class="mb-1">Back</a>
                </div>
                <div class="bg-white-container ms-2 mt-1">
                    <div class="row">
                        <div class="col-md-5 flag-deatil-im">
                            <img src="images/flag-detail-img.png" alt="img" class="img-fluid">
                        </div>
                        <div class="col-md-7 flag-deatil">
                            <h3>Origami Wonders</h3>
                            <p>Created By <span>Darlene Robertson</span></p>
                            <span class="badge rounded-pill text-bg-success mt-2">PaperArt</span>
                            <span class="badge rounded-pill text-bg-success mt-2">Paper Folding</span>
                            <span class="badge rounded-pill text-bg-success mt-2">DIY</span>
                            <div class="pt-2 des">
                                <label for="preFilledInput" class="form-label">Description</label>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.standard
                                    dummy text ever since the 1500s,
                                    type specimen book. It has survived not only five centuries, Lorem Ipsum is Lorem
                                    Ipsum is simply but also the leap type specimen book.</p>
                            </div>
                            <div class="learn-list">
                                <p>What you'll learn</p>
                                <ul class="pt-1" style="padding: 20px;">
                                    <li>Fold 100 origami designs.</li>
                                    <li>Understand the fundamentals and folding techniques.</li>
                                    <li>Fold animals, flowers, boats, buildings, modular origami, action models, and
                                        much more.</li>
                                    <li>Learn the history of origami.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="explore-course">
                        <h3 class="pb-3">Explore Course Content</h3>
                        <div class="row">
                            <div class="col-12 col-md-4 mb-3 ">
                                <div class="card-course ">
                                    <img src="images/book.svg" alt="img"> <span>Introduction</span>
                                    <hr>
                                    <p>Today’s the day you become an origami artist!
                                        This is the most comprehensive course on traditional origami available. Learn
                                        from Anne,
                                        an origami artist with over 10 years of folding and designing experience.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="card-course ">
                                    <img src="images/gallery.svg" alt="img"><span>Sea Animals</span>
                                    <hr>
                                    <!-- <div class="sea-img"> -->
                                        <div class="screen_slider">
                                          <div>
                                            <figure><img src="images/sea-animal-img.png" alt="" class="img-fluid"></figure>
                                          </div>
                                          <div>
                                            <figure><img src="images/sea-animal-img.png" alt="" class="img-fluid"></figure>
                                          </div>
                                          <div>
                                            <figure><img src="images/sea-animal-img.png" alt="" class="img-fluid"></figure>
                                          </div>
                                          <div>
                                            <figure><img src="images/sea-animal-img.png" alt="" class="img-fluid"></figure>
                                          </div>
                                        </div>
                                        
                                    <!-- </div> -->
                                    <p class="pt-2">Fold a square sheet of paper diagonally into a triangle, shape the
                                        body
                                        by folding the corners up, and angle the sides to form the tail. Add
                                        decorations, and your origami fish is ready!</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="card-course">
                                    <img src="images/video (1).svg" alt="img"> <span>Create a Flower.</span>
                                    <hr>
                                    <div class="screen_slider">
                                      <div>
                                        <figure><img src="images/sea-animal-img.png" alt="" class="img-fluid"></figure>
                                      </div>
                                      <div>
                                        <figure><img src="images/sea-animal-img.png" alt="" class="img-fluid"></figure>
                                      </div>
                                      <div>
                                        <figure><img src="images/sea-animal-img.png" alt="" class="img-fluid"></figure>
                                      </div>
                                      <div>
                                        <figure><img src="images/sea-animal-img.png" alt="" class="img-fluid"></figure>
                                      </div>
                                    </div>
                                    
                                   
                                    <p class="pt-2">Fold a square paper in half diagonally, then fold the edges to the
                                        center. Flip it and repeat. Lift the corners
                                        to form petals, and add a stem to complete your origami flower!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- <div class="footer">
        </div> -->
        </div>
        <!--PAGE CONTENT-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/aos.js"></script>
            
  <script>
    // $('.appFeatures_slider').slick({
    //   dots: false,
    //   infinite: true,
    //   speed: 300,
    //   slidesToShow: 1,
    //   slidesToScroll: 1,
    //   responsive: [
    //     {
    //       breakpoint: 480,
    //       settings: {
    //         dots: true,
    //         arrows: false
    //       }
    //     }
    //   ]

    // });

    $('.screen_slider').slick({
      dots: true,
      arrows: false,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      responsive: [
        {
          breakpoint: 767,
          settings: {
            dots: false,
            arrows: false,
            slidesToShow: 1,
          }
        }
      ]

    });
  </script>

  <script>
    AOS.init();
  </script>

  <script>
    $(window).scroll(function () {
      var scroll = $(window).scrollTop();
      if (scroll >= 1) {
        $('.headerBg').addClass("active");
      } else {
        $('.headerBg').removeClass("active");
      }
    });
  </script>





    </body>

</html>